<%include partial\header.ejs%>
<h1>新用戶登入</h1>
<form method="POST" action="/tologin">
<input type= 'submit' name="submit" value="去登入頁面">
</form>

<form method="POST" action="/testdb">
    <input type= 'submit' name="submit" value="測試資料庫">
    </form>
<%include partial\footer.ejs%>